/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/priv/static/assets/
npm-debug.log
/demo/_build/
/demo/deps/
/demo/node_modules/
/demo/priv/static/assets/
/example/_build/
/example/deps/
node_modules/
.DS_Store
